<!DOCTYPE html>
<html lang="es">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link href="bootstrap.min.css" rel="stylesheet"> -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <link href="estilos2.css" rel="stylesheet">
    </head>
    <body class="container-fluid">

        <nav class="navbar navbar-expand-lg bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="Index">Inicio</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="Flora">Flora</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="Fauna">Fauna</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Otros
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="https://www.parquesnacionales.gov.co/portal/es/parques-nacionales-naturales/">Parques Nacionales </a></li>
                      <li><a class="dropdown-item" href="https://www.parquesnacionales.gov.co/portal/es/sistema-nacional-de-areas-protegidas-sinap/">Areas Protegidas</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Otros</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a href="Login" class="nav-link">Login</a>
                  </li>
                </ul>
                <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              </div>
            </div>
          </nav>
        <h1>Fauna y Flora Colombiana</h1>

        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
            </div>


            <div class="carousel-inner">
                <!-- Agregar dos plantas mas y un animal al 
                    carrusel, con nombre y descripción -->
              <div class="carousel-item active">
                <img src="https://cdn.pixabay.com/photo/2022/08/06/12/34/corsac-fox-7368515_960_720.jpg" class="d-block w-100" alt="..." width="500px" height="auto">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Zorro</h5>
                  <p>El zorro cangrejero es una especie de cánido común en el norte y centro de Sudamérica,  habita las regiones costeras y montañosas adaptándose a alturas hasta de 3000 m s. n. m. Junto al perro venadero y al aguara guazú, es uno de los cánidos más comunes en Sudamérica.</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="https://cdn.pixabay.com/photo/2016/11/24/22/11/water-lily-1857350_960_720.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Lirio y Nenufares</h5>
                  <p>Amazonas es uno de los treinta y dos departamentos que, junto con Bogotá, Distrito Capital, forman la República de Colombia. Su capital es Leticia. Está ubicado en el extremo sur del país, en gran parte al sur de la línea ecuatorial, en la región Amazonia.</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="https://cdn.pixabay.com/photo/2017/05/08/13/15/bird-2295431_960_720.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Azulejo</h5>
                  <p>La tangara azuleja también denominada tángara azulada, azulejo de jardín, azulejo común, tangara azulgrís, simplemente azulejo, viudita, ​ sui sui o suy suy, ​ es una especie de ave paseriforme de la familia Thraupidae, perteneciente al género Thraupis.</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="https://cdn.pixabay.com/photo/2015/04/19/08/32/marguerite-729510_960_720.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Margarita</h5>
                  <p> es una planta herbácea de la familia de las asteráceas muy utilizada a efectos decorativos mezclada con el césped, por sus colores y su resistencia a la siega.</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="https://cdn.pixabay.com/photo/2016/12/04/21/58/rabbit-1882699_960_720.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Conejo</h5>
                  <p>es una especie de mamífero lagomorfo de la familia Leporidae, y el único miembro actual del género Oryctolagus. Mide hasta 50 cm y su masa puede ser hasta 2.5 kilogramos. Ha sido introducido en varios continentes y es la especie que se utiliza en la cocina y en la cunicultura.</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="https://cdn.pixabay.com/photo/2018/01/28/11/24/sunflower-3113318_960_720.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Girasol</h5>
                  <p>es una planta herbácea anual de la familia de las asteráceas originaria de Centro y Norteamérica y cultivada como alimenticia, oleaginosa y ornamental en todo el mundo.</p>
                </div>
              </div>

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>


        <button type="button" class="btn btn-primary" onclick="alert('Boton primario')">Primary</button>
        <button type="button" class="btn btn-secondary">Secondary</button>
        <button type="button" class="btn btn-success">Success</button>
        <button type="button" class="btn btn-danger">Danger</button>
        <button type="button" class="btn btn-warning">Warning</button>
        <button type="button" class="btn btn-info">Info</button>
        <button type="button" class="btn btn-light">Light</button>
        <button type="button" class="btn btn-dark">Dark</button>
        <button type="button" class="btn btn-link">Link</button>
        
        
        <!-- Agregar 3 parques nacionales mas a la pagina con
        nombre y descripción e intente agregar un boton de enlace -->
        <div class="row row-cols-1 row-cols-md-5 g-4">
            <div class="col">
              <div class="card h-100">
                <img src="https://www.parquesnacionales.gov.co/portal/wp-content/uploads/2013/08/Paramo-del-Parque-Nacional-Natural-Tatama-foto-Jhon-Eduar-Rojas.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Parque Nacional Natural Tatamá</h5>
                  <p class="card-text">El Páramo Tatamá es un páramo colombiano situado sobre los 4200 msnm y está ubicado en la Cordillera Occidental, entre los departamentos de Chocó, Valle del Cauca y Risaralda.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="https://www.parquesnacionales.gov.co/portal/wp-content/uploads/2017/04/Iguaque-Laguna13-ArchivoParques-HernanLopera.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Santuario de Fauna y Flora Iguaque</h5>
                  <p class="card-text">El Santuario de Fauna y Flora Iguaque es uno de los 56 parques nacionales naturales de Colombia. Tiene una extensión de 6750 hectáreas de páramo y bosque andino, y se ubica en la cordillera Oriental en el departamento de Boyacá.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="https://www.parquesnacionales.gov.co/portal/wp-content/uploads/2013/07/69-MM8421_160617_11389.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Parque Nacional Natural Serranía de Chiribiquete</h5>
                  <p class="card-text">se encuentra ubicado en la región amazónica colombiana, específicamente en los departamentos de Caquetá y Guaviare, con una extensión de 4 268 095 ha que conforman el área protegida más grande del sistema de parques naturales de Colombia.</p>
                </div>
              </div>
            </div>


            <div class="col">
              <div class="card h-100">
                <img src="https://cdn.pixabay.com/photo/2014/01/10/15/30/ocean-241665_960_720.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Parque Tayrona</h5>
                  <p class="card-text">El Parque Tayrona se encuentra ubicado a 34 Km de Santa Marta en el departamento del Magdalena y es uno los Parques Naturales más Importantes de Colombia.</p>
                </div>
              </div>
            </div>

            <div class="col">
                <div class="card h-100">
                  <img src="https://cdn.colombia.com/sdi/2014/03/13/parque-nacional-natural-sierra-de-la-macarena-853791.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Parque Nacional Natural Sierra de la Macarena</h5>
                    <p class="card-text">La Sierra de la Macarena es una serranía colombiana, ubicada en el departamento del Meta, en el piedemonte andino en la selva amazónica, es el punto de encuentro de los ecosistemas andinos, amazónico y orinocense.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                </div>
              </div>
          </div>

          <footer class="pt-4 my-md-5 pt-md-5 border-top">
            <div class="row">
              <div class="col-12 col-md">
                <img class="mb-2" src="https://www.certificadomisionticutp.com/assets/img/logo2.png" alt="" width="200" height="auto">
                <small class="d-block mb-3 text-muted">&copy; 2020-2022</small>
              </div>
              <div class="col-6 col-md">
                <h5>Features</h5>
                <ul class="list-unstyled text-small">
                  <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Cool stuff</a></li>
                  <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Random feature</a></li>
                  <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Team feature</a></li>
                  <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Stuff for developers</a></li>
                  <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Another one</a></li>
                  <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Last time</a></li>
                </ul>
              </div>
              <div class="col-6 col-md">
                <h5>Resources</h5>
                <ul class="list-unstyled text-small">
                  <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Resource</a></li>
                  <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Resource name</a></li>
                  <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Another resource</a></li>
                  <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Final resource</a></li>
                </ul>
              </div>
              <div class="col-6 col-md">
                <h5>About</h5>
                <ul class="list-unstyled text-small">
                  <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Team</a></li>
                  <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Locations</a></li>
                  <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Privacy</a></li>
                  <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Terms</a></li>
                </ul>
              </div>
            </div>
          </footer>

        <script src="bootstrap.bundle.min.js"></script>
    </body>
</html>