<!DOCTYPE html>
<html lang="es" xmlns="www.thymeleaf.org">

<head>
    <title>Inicio de Sesión</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>

<body>


    <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand text-white" href="index">Inicio</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" href="nuevo">Nuevo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="login">Login</a>
                    </li>
                    
                    
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Buscar</button>
                </form>
            </div>
        </div>
    </nav>


    

    <!-- con bootstrat crear la vista de usuario, donde se muestre nombre 
        y apellido ademas una imagen de perfil-->
    <!-- <h1>Login</h1> -->

    <h1 class="text-center">Vista Usuario</h1>
    <svg class="bd-placeholder-img rounded-circle align-items-lg-center" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Foto de perfil</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>


        <div class="b-example-divider"></div>

        <div class="container">
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
              <div class="col-md-4 d-flex align-items-center">
                <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                  <img src="https://www.certificadomisionticutp.com/assets/img/logo2.png" width="100px" height="auto">
                </a>
                <span class="mb-3 mb-md-0 text-muted">&copy; 2022 Misión TIC</span>
              </div>
          
              <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <li class="ms-3"><a class="text-muted" href="#"><img src="Recursos/twitter.svg" width="24px" height="auto"></a></li>
                <li class="ms-3"><a class="text-muted" href="#"><img src="Recursos/instagram.svg" width="24px" height="auto"></a></li>
                <li class="ms-3"><a class="text-muted" href="#"><img src="Recursos/facebook.svg" width="24px" height="auto"></a></li>
              </ul>
            </footer>
          </div>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
</body>

</html>