
.calculadora{
    width: 480px;
    height: auto;
    padding: 10px 0;
    margin: auto;
    background:rgb(35, 32, 30) ;
    border: 1px solid #000;
    border-radius: 7px;
    text-align: center;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
}
.pantalla{
    width: 424px;
    height: 93px;
    margin: 12px auto 30px;
    padding: 15px 20px;
    border: #000 1px solid;
    border-radius: 7px;
    color: aliceblue;
    text-align: right;
    overflow: hidden;
    font-size: 3em;
}

.botones{
    
    padding: 0px;
    width: 423px;
    margin: auto;
    overflow: hidden;
}

.botones a{
    margin-right: 10px;
    display: inline;
    float: left;
    margin-bottom: 10px;
    
}

.botones button{
    display: inline-block;
    width: 95px;
    height: 68px;
    padding: 18px 0 12px;
    color:whitesmoke;
    background-color: rgb(115, 102, 93);
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.6em;

}

.botones button:active{
    background: #000;
}

#vertical{
    height: 151px !important;
}

.horizontal{
    width: 200px !important;
}
#subir{
    position: relative;
    top: -78px !important;
}